*{
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', sans-serif;
}
footer{
    background-color: #ffb0df;
    height: 59px;
    color: white;
    text-align: center;
    line-height: 59px;
}