*{
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', sans-serif;
    text-decoration: none;
}
.navbar-brand{
    margin-left: 2.35%;
    margin-right: 1.5%;
}
nav{
    background: #5abbea;
}   
li{
    /*margin-left: 10%;
    margin-right: 10%;*/
    width: 150px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-shadow: 1%;
    color: #ffb0df;
    font-weight: bold;
}