<div class="container">
    <div class="row">
        <div class="col-md-2">
            <input type="number" placeholder="Digite o ID" id="inputUser" [(ngModel)]="idBusca">
            <button (click)="pesquisar();">Pesquisar</button>
        </div>
        <div class="col-md-10">

<div id="estilotitulo">

    <table class="table mt-3">

        <thead>
            <tr>
                <th scope="col">UserID</th>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Completo?</th>
            </tr>
        </thead>
            <tbody *ngIf='_tarefas'>
                <tr>
                    <th scope="row">{{_tarefas.userId}}</th>
                    <td>{{_tarefas.id}}</td>
                    <td>{{_tarefas.title}}</td>
                    <td>{{_tarefas.completed}}</td>
                </tr>
            </tbody>
    </table>

</div>

</div>

</div>
</div>