<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">

<div id="estilotitulo">

    <table class="table mt-3">

        <thead>
            <tr>
                <th scope="col">UserID</th>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Completo?</th>
            </tr>
        </thead>
            <tbody *ngFor='let item of tarefas'>
                <tr>
                    <th scope="row">{{item.userId}}</th>
                    <td>{{item.id}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.completed}}</td>
                </tr>
            </tbody>
    </table>

</div>

</div>

</div>
</div>